$main-height: 95vh;

#default-layout {
  @apply bg-gray-800;

  min-height: 100vh;

  .chat-card {
    height: $main-height;
    max-height: $main-height;

    @media screen and (max-width: 768px) {
      & {
        display: block;
      }

      &.sidebar-mobile-active {
        display: none;
      }
    }

    #sidebar {
      height: 100%;
      width: 33%;
      display: flex;
      flex-direction: column;

      .conversation-container {
        flex-basis: 100%;
      }

      ::-webkit-scrollbar {
        width: 3px;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }

      @media screen and (max-width: 768px) {
        width: 100%;

        & {
          display: none;
        }

        &.mobile-active {
          display: block;
        }
      }
    }

    section.content {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        & {
          flex-grow: 0;
          width: 67%;
        }
      }

      div.main {
        flex-basis: 100%;
        overflow: auto;
      }
    }
  }
}

.user-avatar {
  object-fit: cover;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.online-indicator {
  font-size: 0.9rem;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 0.25rem;
    background-color: rgb(3, 201, 3);
    border-radius: 50%;
    transform: translateY(-12%);
  }

  &.offline::before {
    background-color: rgb(172, 172, 172);
  }
}
